
<mat-form-field>
    <input matInput required placeholder="address line 1" type="text" [(ngModel)]="address.addressLine1">
</mat-form-field>
<mat-form-field>
    <input matInput required placeholder="address line 2" type="text" [(ngModel)]="address.addressLine2">
</mat-form-field>
<mat-form-field>
    <input matInput required placeholder="address line 3" type="text" [(ngModel)]="address.addressLine3">
</mat-form-field>
<mat-form-field>
    <mat-select [(value)] = "address.countryId">
        <mat-option *ngFor="let country of countries" [value]="country.id">
          {{country.name}}
        </mat-option>
      </mat-select>
</mat-form-field>